<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Rose&display=swap" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/admin.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</head>

<body class="text-center">

    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-1">
                <a href="/" class="nav-link">Gallery</a>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm-1">
                <form th:action="@{/logout}" method="post">
                    <input class="nav-link" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
        <h1 th:utext="${title}"></h1>
        <h2>Administration</h2>

        <div class="row">
            <p class="col-sm-1 font-weight-bold">total:</p>
            <p class="col-sm-1" th:utext="${kudoscards.size()}"></p>
        </div>

        <div class="row">
            <p class="col-sm-1 font-weight-bold">contributors:</p>
            <p class="col-sm-1" th:utext="${contributors.size()}"></p>
        </div>

        <!--result-->
        <table id="events" class="table table-striped mt-5">
            <thead>
            <tr>
                <th class="text-left" width="15%">ID</th>
                <th class="text-left" width="15%">From</th>
                <th class="text-left" width="15%">Message</th>
                <th class="text-left" width="15%">Last Modified</th>
                <th class="text-left" width="15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="card : ${kudoscards}">
                <td class="text-left" th:text="${card.id}">name</td>
                <td class="text-left" th:text="${card.writer}">name</td>
                <td class="text-left" th:text="${card.message}">message</td>
                <td class="text-left" th:text="${card.formatDate()}">edited</td>
                <td>
                    <form th:action="@{/api/v1/kudoscards/delete}" method="post">
                        <input type="hidden" name="id" th:value="${card.id}" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


    </main>


</body>
</html>