<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:utext="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Rose&display=swap" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- own style -->
    <link rel="stylesheet" href="css/style-mobile.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body class="text-center">


<div class="container-fluid justify-content-center mt-5">
    <div class="row">
        <div class="col-sm-4 text-lg-left">
            <h2 th:utext="${kudoscards.size()}+' photos'"></h2>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn-lg btn-outline-secondary" th:text="${channel}"></button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn-lg btn-outline-secondary" href="create">New Post</button>
        </div>
    </div>
    <br>

    <div th:each="card, iterstat : ${kudoscards}">
        <div class="w3-bar w3-text-blue row">
            <div class="w3-bar-item">
                <p class="card-text larger" th:utext="${card.formattedDate} +' by '+ ${card.writer}"></p>
            </div>
            <div class="w3-bar-item w3-right larger">
                <p class="card-text" th:utext="${card.comments.size()} +' comments'"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img th:src="'/images/' + ${card.imageId}" class="figure-img img-fluid rounded shadowbox"
                     alt="Image.">
            </div>
        </div>
        <hr class="new1">
    </div>
</div>

</body>
</html>